@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --radius: 0.5rem;
}

:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
}

.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}